<!DOCTYPE html>
<html>

<head>
  <% include ../partial/head.ejs %>
    <style>
      .card {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .btn {
        margin: 0.3rem;
      }
    </style>
  </head>

  <body onload="addForm();">
    <% include ../partial/header.ejs %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="card" style="width: 70%;">
        <div class="card-body">
          <h5 class="card-title"><%= easypath.easypath_title %></h5>
          <hr>
          <br>
          <p class="card-subtitle">작성자 : <%= writer.username %> </p>
          <br>
          <p class="card-subtitle">작성일자: <%= easypath.created_time %></p>
          <br>
          <hr>
          <p class="card-subtitle">Easypath 내용 :</p>
          <p class="card-text"><%= easypath.easypath_content %></p>
          <% specific.forEach(e => { %>
            <div class="card" style="width: 70%;">
              <div class="card-body">
                <p class="card-subtitle">Title : <%= e.specific_title %> </p>
                <p class="card-subtitle"><a href="<%= e.specific_url %>">URL: <%= e.specific_url %></a></p>
                <p class="card-subtitle">Contents : <%= e.specific_content %></p>
              </div>
            </div>
            <br>
          <% }); %>
            <br>
            <center>
              <form action="/study/new" method="POST">
                <input type="hidden" name="easypath_id" value="<%= easypath.easypath_id %>" />
                <button type="submit" class="btn btn-primary">이 Easypath로 새 스터디 만들기!</button>
              </form>
            </center>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
