<!DOCTYPE html>
<html>

<head>
  <% include ../partial/head.ejs %>
  <!-- <link rel="stylesheet" type="text/css" href="/css/post_index.css"> -->
  <style>
    .search {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

  </style>

</head>

<body>
    <% include ../partial/header.ejs %>
    <div class="container post post-index">
      
      <br><br><br><br><br><br>
      <h2>Study</h2>
      <h5>Let's study together!!</h5>
      <hr>
      <label>검색</label>
      <div class="container">
        <form action="/study/posts/search" method="get" id="searchAction" name="searchAction">
          <div class="form-group row">
            <select name="searchCategory" form="searchAction">
              <option value="" disabled selected>Search option</option>
              <option value="author">작성자</option>
              <option value="titleBody">제목+내용</option>
            </select>

            <div class="col">
              <input type="text" class="form-control search_word" id="searchWord" name="searchWord" placeholder="검색어를 입력하세요">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary" onclick="searchContent();">검색</button>
            </div>
          </div>
        </form>
      </div>
    <br>
      <hr>
      <br>
        <div class="buttons">
          <!-- <% //if(isAuthenticated){ %>
            <a class="btn-floating btn-large cyan pulse" href="/posts/new"><i class="material-icons" id="scrollBtn">edit</i></a>
            <% //} %> -->
            <button type="button" onClick="location.href='/study/new'" class="btn btn-primary">새 스터디 등록</button>
            <div class="row">
        </div>

        <!-- <% //if(posts == null || posts.length == 0){ %> -->
          <tr>
            <!-- <td class="noData" colspan=100> There is no data to show :( </td> -->
            
            <br>
            <center>
            <!-- <img src="/img/peace.jpg" width="350vw" height="350vh"> -->
     
            <br>
            <!-- <h3>inner peace...</h3> -->
          </center>
          </tr>


          <!-- <% //} %> -->
            <div class="row">
              <% study.forEach(function(s) { %>
                <div class="card" style="width: 18rem; margin: 2rem;">
                  <div class="card-body">
                    <h5 class="card-title"><%= s.study_id %> </h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= s.study_title %></h6>
                    <p class="card-text"><%= s.study_content %></p>
                    <a href="/study/show/<%= s.study_id %>" class="card-link">스터디를 보자</a>
                    <br>
                    <a class="card-link"><%= s.created_time %></a>
                  </div>
                </div>
              <% }) %>
            </div>

            <script>
              function searchContent() {
                if ($('#searchWord').val == '') {
                  alert("검색어를 입력해주세요!!!");
                } else {
                  $('#searchAction').submit();
                }
              }
            </script>

            <script>
              $(document).ready(function() {
                $('select').formSelect();
              });
            </script>


    </div>
    <!-- container end -->
</body>

</html>
