<!DOCTYPE html>
<html>

<head>
  <% include ../partial/head.ejs %>
    <style>
      .card {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .btn {
        margin: 0.3rem;
      }
    </style>
    <script>
      const applyStudy = function() {
        alert('스터디에 참가되었습니다!')
        window.location = '/study';
      }

      const getOutStudy = function() {
        alert('스터디에서 탈퇴되었습니다!')
        window.location = '/study';
      }
      const deleteStudy = function() {
        alert('스터디가 삭제되었습니다!')
        window.location = '/study';
      }
    </script>
  </head>

  <body onload="addForm();">
    <% include ../partial/header.ejs %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="card" style="width: 70%;">
        <div class="card-body">
          <h5 class="card-title"><%= study.study_title %> </h5>
          <hr>
          <br>
          <p class="card-subtitle">작성자 : <%= writer.username %></p>
          <br>
          <p class="card-subtitle">작성일자: <%= study.created_time %></p>
          <br>
          <hr>
          <br>
          <p class="card-subtitle">스터디 내용 :</p>
          <br>
          <p class="card-text"><%= study.study_content %></p>
          <hr>
          <br>
          <p class="card-subtitle">현재 신청 인원 / 제한 인원 :</p>
          <br>
          <p class="card-text"><%= study.cur_num_people %> / <%= study.max_num_people %></p>
          <hr>
          <br>
          <p class="card-subtitle">지역 :</p>
          <br>
          <p class="card-text"><%= study.study_location %> </p>
          <hr>
          <br>
          <p class="card-subtitle">스터디장 이메일 :</p>
          <br>
          <p class="card-text"><%= writer.email %></p>
          <hr>
            <br>
            <br />
            <center>
              <!-- User가 로그인 했으면 -->
              <% if (session.loggedin && session.user_id != study.user_id) { %>
                <form action="/study/apply" method="POST">
                  <input type="hidden" name="study_id" value="<%= study.study_id %>" />
                  <button type="submit" onClick="applyStudy()" class="btn btn-primary">이 스터디 신청하기</button>
                </form>
                <form action="/study/getout" method="POST">
                  <input type="hidden" name="study_id" value="<%= study.study_id %>" />
                  <button type="submit" onClick="getOutStudy()" class="btn btn-primary">이 스터디 탈퇴하기</button>
                </form>
              <% } %>
              <!-- 스터디만든사람이 로그인한 경우 -->
              <% if (session.user_id == study.user_id) { %>
                <form action="/study/modify" method="POST">
                  <input type="hidden" name="study_id" value="<%= study.study_id %>" />
                  <button type="submit" onClick="modifyStudy()" class="btn btn-primary">이 스터디 수정하기</button>
                </form>
                <form action="/study/delete" method="POST">
                  <input type="hidden" name="study_id" value="<%= study.study_id %>" />
                  <button type="submit" onClick="deleteStudy()" class="btn btn-primary">이 스터디 삭제하기</button>
                </form>
              <% } %>

            </center>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
